:root {

    /* Primary: Red Potion */
    --primary-100: #FFF2F2;
    --primary-200: #FFBCBE;
    --primary-300: #FB858F;
    --primary-400: #F24D65;
    --primary-500: #e01941;
    --primary-600: #B20834;
    --primary-700: #83022B;
    --primary-800: #550020;
    --primary-900: #260011;

    /* Accent: Space Opera */
    --accent-100: #F9F2FF;
    --accent-200: #DCBEFF;
    --accent-300: #B888FB;
    --accent-400: #8B51F3;
    --accent-500: #591EE3;
    --accent-600: #330AB4;
    --accent-700: #1A0285;
    --accent-800: #0B0055;
    --accent-900: #030026;

    /* Neutral */
    --neutral-100: #FCFAFA;
    --neutral-200: #ECE8E8;
    --neutral-300: #DBD6D6;
    --neutral-400: #CBC4C5;
    --neutral-500: #BAB3B4;
    --neutral-600: #958D8F;
    --neutral-700: #70686A;
    --neutral-800: #4B4547;
    --neutral-900: #262224;
    
}
html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 18px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--neutral-100);
}
/* Font classes */
.sans {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}
.bold {
  font-weight: bold;
}
.border-radius {
  border-radius: 5px;
}
.no-margin {
  margin: 0px;
}
.icon {
  height: 30px;
}
p {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: var(--neutral-100);
  background-color: var(--primary-500);
  padding: 5px;
}
.scroll-animation {
  animation: scroll-animation both;
  animation-timeline: view(70% 5%);
}
.scroll-slide {
  animation: scroll-slide both;
  animation-timeline: view(70% 10%);
}
.show-up {
  animation: show-up both;
  animation-timeline: view(70% 5%);
}
.img-slider {
  animation: img-slider both;
  animation-timeline: view(100% 5%);
}
@keyframes scroll-animation {
  from {
    opacity: 0;
    transform: translateY(-200px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes scroll-slide {
  from {
    opacity: 0;
    transform: translateX(-200px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes img-slider {
  from {
    object-position: left;
  }
  to {
    object-position: center;
  }
}
/* Nav Bar styling */
nav {
  position: relative;
  top: 20px;
  font-size: 1.5rem;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-500);
  font-size: 1rem;
}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav img {
  object-fit: cover;
  aspect-ratio: 1/1;
  height: 28px;
}
nav h1 {
  font-weight: 500;
}
nav a {
  background-color: unset;
  color: var(--primary-500);
  border: 2px solid var(--primary-500);
  transition: 0.15s;
}
nav a:hover {
  position: relative;
  font-weight: bolder;
  transform: scale(1.02);
}

/* Hero page ---------------- */
#hero {
  margin-top: 40px;
  height: auto;
  width: 100%;
}
#hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 355px;
}
#hero video {
  min-height: 200px;
  height: 23vw;
  object-fit: cover;
  aspect-ratio: 3/1;
  object-position: right;
  filter: grayscale(1);
}
.CTA { /* Main cta */
  font-size: 1.5rem;
  padding: 10px;
  box-shadow: 0px 6px 8px 0px rgba(224, 25, 65, 1);
  box-shadow: 0px 14px 39px 0px rgba(224, 25, 65, 1);
  transition: .8s ease;
}
.CTA:hover {
  box-shadow: 0px 0px 50px 0px rgba(224, 25, 65, 1);
  transform: scale(1.03);
  font-weight: bolder;
}

/* Features section -------------- */
#features {
  height: auto;
  width: 100%;
  margin-top: 100px;
}
#features > div { /* Divs dividing features into two section */
  height: auto;
  width: 100%;
}
#features-shorts {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1060px;
  margin: auto;
}
#features-shorts span {
  display: flex;
  align-items: center;
  gap: 10px ;
  width: auto;
}
#features-shorts p {
  max-width: 250px;
}
/* features long */
#features-long {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#features-long h2, #features-long li {
  display: flex;
  gap: 20px ;
  align-items: center;
}
#features-long h2 img {
  position: relative;
  left: 10px;
}
#features-long ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#image-last {
  height: 300px;
}
/* Divider ------------- */
#divider {
  margin-top: 10px;
  height: 270px;
  width: 200%;
  background: rgb(224,25,65);
  background: linear-gradient(100deg, rgba(224,25,65,1) 0%, rgba(89,30,227,1) 100%);
}
/* Reviews ------------- */
#reviews {
  height: auto;
  width: 100%;
  margin-top: 100px;
}
#reviews .container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#reviews .container > div {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid var(--neutral-300);
}
#reviews .container > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 90%;
  margin: auto;
}
#reviews span {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#reviews p {
  width: 90%;
}
#reviews img {
  height: 100%;
  object-fit: cover;
  width: 40vw;
  max-width: 300px;
}
/* last cta */
#last-cta {
  margin-top: 50px;
  position: relative;
}

/* Footer --------------- */
footer {
  margin-top: 100px;
  height: 300px;
  background-color: var(--neutral-900);
  color: var(--neutral-200);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer .container {
  margin-left: 15px;
}
footer p {
  max-width: 500px;
  width: 50%;
}
footer a  {
  background-color: unset;
  color: var(--accent-600);
  text-decoration: underline;
}