:root {
    --primary-green: #4CAF50;      /* Fresh, vibrant green for main accents */
    --secondary-green: #81C784;    /* Light, pastel green for softer accents */
    --earthy-brown: #8D6E63;       /* Natural, warm brown for grounding elements */
    --soft-beige: #F5F5DC;         /* Neutral beige for backgrounds */
    --deep-forest: #2E7D32;        /* Dark green for headers or footers */
    --accent-yellow: #FFEB3B;      /* Bright yellow for highlights and buttons */
    --soft-white: #FAFAFA;         /* Off-white for a gentle, clean background */
}
/* Font family classes */
.text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* font size classes */
.px10 {
    font-size: 10px;
}
.px14 {
    font-size: 14px;
}
.px18 {
    font-size: 18px;
}
.px24 {
    font-size: 24px;
}
.px40 {
    font-size: 40px;
}

/* Layout classes */
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.rounded {
    border-radius: 50px;
}
.icon {
    width: 32px;
    height: 32px;
}
