:root {
    
    /* Primary: Kiwi Green */
    --primary-100: #F5FFF2;
    --primary-200: #D8FFC7;
    --primary-300: #BEFC9B;
    --primary-400: #A7F46D;
    --primary-500: #90E640;
    --primary-600: #70B61E;
    --primary-700: #56860E;
    --primary-800: #3B5607;
    --primary-900: #1C2603;

    /* Accent: Tamarama */
    --accent-100: #F2FCFF;
    --accent-200: #BCF2FF;
    --accent-300: #84ECFC;
    --accent-400: #4DE9F5;
    --accent-500: #17E5E8;
    --accent-600: #08B8B0;
    --accent-700: #02877A;
    --accent-800: #005749;
    --accent-900: #00261E;

    /* Neutral */
    --neutral-100: #FBFCFA;
    --neutral-200: #E8EBE7;
    --neutral-300: #D6DAD3;
    --neutral-400: #C4C9C1;
    --neutral-500: #B3B8AE;
    --neutral-600: #8F938A;
    --neutral-700: #6C6F67;
    --neutral-800: #484B44;
    --neutral-900: #252622;
    
}
html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.header {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
    color: var(--primary-900);
}