:root {
    --text: #0f0f0d;
    --background: #f8f8f4;
    --primary: #fff200;
    --secondary: #eae595;
    --accent: #f3eb55;
}
.source-serif {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html, body {
    height: 100%;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h1, h2, h3, p, a, input {
  color: var(--text);
  text-decoration: none;
}
/* NavBar ----------------- */
nav {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  z-index: 999;
}
nav img {
  height: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
nav div, nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
a[href="#main"] {
  display: flex;
  align-items: center;
}
.aNav {
  transition: 0.1s ease-out;
  border-bottom: 3px solid transparent;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}
.aNav:hover {
  border-bottom: 3px solid var(--accent);
  box-sizing: content-box;
}
/* Main banner --------------------- */
#main {
  width: 100%;
  height: calc(auto + 100px);
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main .container {
  width: 50%;
  min-width: 351px;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
#main .container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 3rem;
}
#main img {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: calc(0.6*100vw);
  max-width: 800px;
  position: relative;
  right: 0px;
  top: 50px;
}
#main h1 {
  z-index: 999;
  width: 100%;
  position: relative;
  top: 50px;
  font-size: 2.3rem;
  backdrop-filter: blur(1px);
}
#main em {
  color: transparent;
  text-decoration-style: double;
  font-size: 3rem;
  -webkit-text-stroke: var(--primary) 1px;
  text-decoration: underline;
}
#main strong {
  font-weight: bold;
  color: var(--secondary);
}
#main a[href="#services"] {
  margin-top: 30px;
  z-index: 999;
  width: 120px;
  height: 40px;
  background-color: var(--CTAcolor);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.15s;
  --CTAcolor: #fff200; /* Used to change color of border and button */
  animation: sizer 1.5s ease-in-out infinite;
}
#main a[href="#services"]:hover {
  color: var(--background);
  --CTAcolor: #eae595;
  background-color: var(--CTAcolor);
  transform: scale(1.24);
  animation: none;
}
#main a[href="#services"]::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 120%;
  border: 3px solid var(--CTAcolor);
  border-radius: 5px;
  z-index: 999;
}
@keyframes sizer {
  0% {
    transform: scale(1.20);
  }
  25% {
    transform: scale(1.24);
  }
  40% {
   transform: scale(1.20); 
  }
  100% {
    transform: scale(1.20); 
  }
}
/* about section ( Why us? ) ---------- */
#about {
  position: relative;
  top: 100px;
  height: calc(auto + 10px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#about div {
  width: 320px;
  height: 170px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about div:last-of-type {
  overflow: unset;
}

#about div:nth-of-type(2) { /* Review box -> blur on edge, floating 5 star reviews in the box, gliding across infinitely */
  display: flex; justify-content: center; align-items: center;
}
#about div:nth-of-type(2) h1 {
  margin: 0px;
  z-index: 999;
  position: absolute;
}
#about div:nth-of-type(2) div {
  z-index: -1;
}
#about div:nth-of-type(2) div img {
  object-fit: cover;
  width: 160px;
  height: 80px;
}
#about h1 {
  margin-bottom: 5px;
  font-weight: 350;
}
#about p {
  margin: 0px;
}
/* Services -------------- */
#services {
  margin-top: 150px;
  height: 500px;
  border-top: 2px solid var(--text);
  /* DELETE LATER */ border-bottom: blue 5px solid;
  background-color: rgba(1, 1, 1, 0.03);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#services  h1 {
  font-weight: 350;
  margin-bottom: 0px;
  margin-left: 3vw;
}
#services .container {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%; 
  margin-left: 3vw;
  overflow: visible;
  gap: 5px;
}
/* div animations styling etc */
#services img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#services .container >div:hover + img {
  opacity: 0;
}
#services .container > div > div {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#services .container > div > div h1, #services .container > div > div p {
  margin: 0px;
  margin-left: 3vw;
}
#services .container > div {
  border-radius: 5px;
  height: 300px;
  width: 200px;
  border: 1px solid;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 100%;
  transition: 0.15s;
}
/* Add "checkout" button, it will have a transparent bottom right border that will change to var(--border-cta-color) upon a div being hovered */
/* animation hover effect */
#services .container > div:hover {
  transform: scale(1.05);
  --border-cta-button: #0f0f0d;
}
#services .container > div:hover + * { /*right */
  transform: scale(.1.03);
  filter: brightness(0.8);
}
#services .container > div:has(+ *:hover) { /*left */
  transform: scale(1.03);
  filter: brightness(0.8);
} 
#services .container > div:hover + * + * { /*right + */
  transform: scale(1.01);
  filter: brightness(0.6);
}
#services .container > div:has(+ * + *:hover) { /*left + */
  transform: scale(1.01);
  filter: brightness(0.6);
}
#services .container > div:hover + * + * + *{ /*right + + */
  transform: scale(1);
  filter: brightness(0.4);
}
#services .container > div:has(+ * + * + *:hover) { /*left + + */
  transform: scale(1);
  filter: brightness(0.4);
}
#services .container > div:hover + * + * + * + *{ /*right + + + */
  transform: scale(1);
  filter: brightness(0.2);
}
#services .container > div:has(+ * + * + * + *:hover) { /*left + + + */
  transform: scale(1);
  filter: brightness(0.2);
}
#services .container > div:hover + * + * + * + * + *{ /*right + + + + */
  transform: scale(1);
  filter: brightness(0.1);
}
#services .container > div:has(+ * + * + * + * + *:hover) { /*left + + + + */
  transform: scale(1);
  filter: brightness(0.1);
}
#services .container > div:hover + * + * + * + * + * + *{ /*right + + + + + */
  transform: scale(1);
  filter: brightness(0);
}
#services .container > div:has(+ * + * + * + * + * + *:hover) { /*left + + + + + */
  transform: scale(1);
  filter: brightness(0);
}