:root {
    --background: #FAF4EB;
    --background-darker: D8CEC0;
    --text-white: #ffffff;
    --text-black: #000000;
    --text-sub: rgba(255,255,255, 0.7);
    --text-sub-dark: rgba(0,0,0, 0.7);
}
.header {
    font-family: "Playfair Display", serif;
    font-weight: normal;
    font-style: normal;
}
.text {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
}
.sub-light {
    color: var(--text-sub);
}
.sub-dark {
    color: var(--text-sub-dark);
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
.container {
    width: 90vw;
    height: auto;
    margin: auto;
}
.px40 {
    font-size: 40px;
}
.px24 {
    font-size: 24px;
}
.px14 {
    font-size: 14px;
}
.icon {
    width: 24px;
    height: 24px;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}
section {
    width: 100vw;
}
html *, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100vw;  
    background-color: var(--background);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}


/* hero banner containing name of the website, its slogan, and a prompt to go down */
.hero {
    background-image: url(assets/misc/hero_page_bg.webp);
    width: 100%;
    background-size: cover;
    height: 100vh;
    color: var(--text-white);
    text-align: center;
}
.hero .section-header {
    position: absolute;
    top: 40px;
    height: 100px;
    width: 200px;
}
.hero div {
    gap: 8px;
    width: auto;
    height: auto;
}
.hero .icon {
    filter: opacity(.7);
    position: absolute;
    margin-top: 50px;
    transform: rotate(90deg);
}
.hero .icon:nth-of-type(2) {
    margin-top: 65px;
}
.hero a {
    gap: 8px;
    transition: .5s;
    filter: opacity(.7);
    width: 200px;
    text-align: center;
}
.hero a:hover {
    transform: translateY(3px);
    filter: opacity(1);
}
.hero p {
    color:var(--text-sub);
}

/* services section featuring 3 options to choose out of */
.services {
    margin-top: 50px;
    overflow: hidden;
    height: auto;
    width: 100vw;
    flex-wrap: wrap;
    padding-bottom: 50px;
    overflow-x: hidden;
}
.services .container {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.services .section-header {
    margin-right: 5px;
}
.services .option {
    flex-shrink: 1;
    width: 23%;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.services .first {
    background-image: url(assets/services/food_selection_1.webp);
}
.services .second {
    background-image: url(assets/services/food_selection_2.webp);
}
.services .third {
    background-image: url(assets/services/food_selection_3.webp);
}
.services .option:hover:after { /* this css will trigger after option is hovered */
    height: 500px;
    width: calc(90vw * 0.23);
    position: absolute;
    content: "";
    display: flex;
    z-index: 2;
    backdrop-filter: brightness(.8) blur(2px);
}
.services .option > div {
    width: 100%;
    height: 500px;
    z-index: 3;
    transition: .3s ease-out;
    color: var(--text-white);
}
.services .option > div:not(:hover) {
    filter: opacity(0);
    transform: translateY(-20px);
}
.services .option > div:hover {
    filter: opacity(1);
    transform: translateY(0px);
}
@media (max-width:430px) {
    .services .option {
        flex-shrink: 0;
        width: 320px;
    }
    .services .option:hover:after {
        width: 320px;
    }
}

/* about section containing just a simple image with some text */
.about {
    height: auto;
    padding-bottom: 50px;
}
.about .section-header {
    text-align: center;
}
.about .container {
    justify-content: center;
    gap: 5px;
}
.about .container > img {
    min-width: 320px;
    width: 100%;
    max-width: 1000px;
    height: 300px;
}
@media (max-width: 430px) {
    .about .container {
        flex-direction: column;
    }
    .about .text-area, .about .container > img {
        margin: auto;
    }
}

.about .icon, .about p {
    filter :opacity(.7);
}
.about .text-area {
    gap: 5vw;
    width: 320px;
    align-items: flex-end;
    justify-content: space-between;
    width: 200px;
}
.about p {
    height: auto;
    width: auto;
}

/* subscription section prompting users to join their newsletter */
.subscribe {
    height: 100vh;
    background-image: url(assets/misc/soup\ \(1\).webp);
    background-position: center;
    background-size: cover;
}
.subscribe > div { /* white box with the join form */
    background-color: var(--text-white);
    height: 375px;
    min-width: 375px;
    width: 40%;
}
.subscribe > div p:nth-of-type(2) {
    margin-top: 20px;
    padding-bottom: 10px;
}
.subscribe input[type="email"] {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-black);
}
.subscribe form {
    gap: 15px;
}
.subscribe input[type="submit"] {
    border: none;
    background-color: transparent;
    transition: .15s;
}
.subscribe input[type="submit"]:hover, .subscribe input[type="submit"]:active {
    font-weight: bolder;
}